---
import { APP_NAME, APP_VERSION } from "@Configs/constants.js";
import Search from "@Components/SearchInput.astro";
import ColorModeSwitcher from "@Components/ColorModeSwitcher.astro";
import { assets } from "@Utils/functions";

const username = "John Doe"; // Replace with actual user data when implemented
---

<nav
	class="fixed
	z-30
	w-full
	border-b
	bg-gray-50
	border-gray-200
	text-penn_blue
	dark:text-penn_blue-800
	dark:bg-gray-900
	dark:border-penn_blue-500"
>
	<div class="md:ml-64 lg:ml-64 px-3 py-3 lg:px-5 lg:pl-3">
		<div class="flex items-center justify-between">
			<div class="flex items-center justify-start">
				<button
					id="toggleSidebarMobile"
					aria-expanded="true"
					aria-controls="sidebar"
					class="p-2
					rounded
					cursor-pointer
					md:hidden
					lg:hidden
					focus:ring-2
					text-penn_blue-600
					hover:text-penn_blue-900
					hover:bg-penn_blue-100
					focus:bg-penn_blue-100
					focus:ring-penn_blue-100
					dark:focus:bg-penn_blue-700
					dark:focus:ring-penn_blue-700
					dark:text-penn_blue-400
					dark:hover:bg-penn_blue-700
					dark:hover:text-penn_blue"
				>
					<svg
						id="toggleSidebarMobileHamburger"
						class="w-6 h-6"
						fill="currentColor"
						viewBox="0 0 20 20"
						xmlns="http://www.w3.org/2000/svg"
						><path
							fill-rule="evenodd"
							d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
							clip-rule="evenodd"></path></svg
					>
					<svg
						id="toggleSidebarMobileClose"
						class="hidden w-6 h-6"
						fill="currentColor"
						viewBox="0 0 20 20"
						xmlns="http://www.w3.org/2000/svg"
						><path
							fill-rule="evenodd"
							d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
							clip-rule="evenodd"></path></svg
					>
				</button>
				<a href="/dashboard" class="flex ml-2 md:mr-24">
					<img
						src="assets/img/logo.png"
						alt={`${APP_NAME} v${APP_VERSION} logo`}
						class="h-8 mr-3"
					/>
					<span
						class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white"
						>{APP_NAME} v{APP_VERSION}</span
					>
				</a>
				<Search />
			</div>
			<div class="flex items-center">
				<!-- Search mobile -->
				<button
					id="toggleSidebarMobileSearch"
					type="button"
					class="p-2
					rounded-lg
					md:hidden
					lg:hidden
					text-penn_blue-500
					hover:text-penn_blue-900
					hover:bg-penn_blue-100
					dark:text-penn_blue-400
					dark:hover:bg-penn_blue-700
					dark:hover:text-white"
				>
					<span class="sr-only">Search</span>
					<!-- Search icon -->
					<svg
						class="w-6 h-6"
						fill="currentColor"
						viewBox="0 0 20 20"
						xmlns="http://www.w3.org/2000/svg"
						><path
							fill-rule="evenodd"
							d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
							clip-rule="evenodd"></path></svg
					>
				</button>
				<!-- Color Mode -->
				<ColorModeSwitcher />
				<!-- Dropdown menu -->
				<div
					id="dropdownNavbar"
					class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
				>
					<ul
						class="py-2 text-sm text-gray-700 dark:text-gray-400"
						aria-labelledby="dropdownNavbarButton"
					>
						<li>
							<a
								href="/dashboard"
								class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
								>Dashboard</a
							>
						</li>
						<li>
							<a
								href="/accounts/profile"
								class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
								>Settings</a
							>
						</li>
					</ul>
					<div class="py-2">
						<a
							href="/auth/logout"
							class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white"
							>Sign out</a
						>
					</div>
				</div>

				<!-- Notifications -->
				<button
					type="button"
					data-dropdown-toggle="notification-dropdown"
					class="p-2 text-gray-500 rounded-lg hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700"
				>
					<span class="sr-only">View notifications</span>
					<!-- Bell icon -->
					<svg
						class="w-6 h-6"
						fill="currentColor"
						viewBox="0 0 20 20"
						xmlns="http://www.w3.org/2000/svg"
						><path
							d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"
						></path></svg
					>
				</button>
				<!-- Dropdown menu -->
				<div
					class="z-20 z-50 hidden max-w-sm my-4 overflow-hidden text-base list-none bg-white divide-y divide-gray-100 rounded shadow-lg dark:divide-gray-600 dark:bg-gray-700"
					id="notification-dropdown"
				>
					<div
						class="block px-4 py-2 text-base font-medium text-center text-gray-700 bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
					>
						Notifications
					</div>
					<div></div>
					<a
						href="#"
						class="block py-2 text-base font-normal text-center text-gray-900 bg-gray-50 hover:bg-gray-100 dark:bg-gray-700 dark:text-white dark:hover:underline"
					>
						<div class="inline-flex items-center">
							<svg
								class="w-5 h-5 mr-2"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
								><path d="M10 12a2 2 0 100-4 2 2 0 000 4z"
								></path><path
									fill-rule="evenodd"
									d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z"
									clip-rule="evenodd"></path></svg
							>
							View all
						</div>
					</a>
				</div>
				<!-- Profile dropdown -->
				<div class="flex items-center ml-3">
					<div>
						<button
							type="button"
							class="flex mr-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
							id="user-menu-button"
							aria-expanded="false"
							data-dropdown-toggle="user-dropdown"
							data-dropdown-placement="bottom"
						>
							<span class="sr-only">Open user menu</span>
							<img
								class="w-8 h-8 rounded-full"
								src="assets/img/logo.png"
								alt="user photo"
							/>
						</button>
					</div>
					<!-- Dropdown menu -->
					<div
						class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600"
						id="user-dropdown"
					>
						<div class="px-4 py-3">
							<span
								class="block text-sm text-gray-900 dark:text-white"
								>{username}</span
							>
							<span
								class="block text-sm text-gray-500 truncate dark:text-gray-400"
								>{username.toLowerCase()}@example.com</span
							>
						</div>
						<ul class="py-2" aria-labelledby="user-menu-button">
							<li>
								<a
									href="#"
									class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
									>Settings</a
								>
							</li>
							<li>
								<a
									href="#"
									class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
									>Sign out</a
								>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>
